.cardContainer{
    position: relative;
    padding: 10px;
    width: 20rem;
    height: 32rem;
    background-color: #f6f6f6;
    margin: 2rem;
    transition: all 0.5s;
    border-radius: 20px;
    border: solid 1px rgb(176, 90, 225);
    
}

.cardContainer:hover{
    transform: translateY(-1rem);
    
}

.img{
    border-radius: 20px;
    width: calc(20rem - 22px);
    height: 19rem; 
    background-color: rgb(38, 222, 222);
}

.containerDescricao p{
    padding: 0.4rem;
    width: auto;
}

.preco{
    color: rgb(90, 90, 90);
    font-size: 1.1rem;
    text-decoration: line-through;
}

.frete{
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(50, 204, 168);
}

.desconto{
    font-weight: bold;
    font-size: 1.35rem;
}

.lancamento{
    position: absolute;
    padding: 0.4rem;
    top: 0.7rem;
    width: auto;
    border: solid 1px rgb(176, 90, 225);
    border-radius: 10px;
    background-color: rgb(176, 90, 225);
    color: #fdfdfd;
    font-weight: 600;
}